.footer {
  width: 100%;
  background-color: #343434;
  color: #f6f6f6;
  display: flex;
  /*justify-content: space-around;*/
  align-items: center;
  height: 100px;
}

.footer .social {
  font-size: 2em;
}

.footer p {
  margin-bottom: 0px;
}
/* Footer design */
